:root {
  --bg-color: #303030;
  --bg-color-raised: #404040;
  --primary: rgb(163, 73, 164);
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: Roboto, Helvetica, sans-serif;
  color: white;
  background-image: url('./assets/img/Keeper.jpg');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  text-decoration: underline;
  color: white;
}

button {
  border: none;
  color: white;
  cursor: pointer;
}

[mat-button] {
  background-color: var(--primary);
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* white-space: nowrap; */
  margin: 0;
  min-width: 70px;
  line-height: 36px;
  border-radius: 4px;
  overflow: visible;
  word-wrap: normal;
  text-align: center;
  font-weight: 500;
}
[mat-icon-button] {
  background-color: transparent;
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
}

@media screen and (min-width: 640px) {
  [mat-button] {
    white-space: nowrap;
    padding: 0 16px;
  }
}

.jumbotron {
  background-color: var(--bg-color-raised);
  box-sizing: border-box;
  margin: 10px auto;
  padding: 5px 10px;
  border-radius: 4px;
}
.text-center {
  text-align: center;
}
.fill {
  flex-grow: 1;
}

/* Rules for sizing the icon. */
.material-icons {
  vertical-align: middle;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
